<div class="wrapper wrapper-content animated fadeInUp">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h5>Unidades <% if @unidades.count == 0 %> <small>- nenhum registro encontrado</small><% end %></h5>
      <%= link_to 'Nova Unidade', new_unidade_path, class: "btn-sm btn-primary pull-right" %>
    </div>
    <% @unidades.each do |unidade| %>
      <div class="ibox-content" data-href="<%= unidade_path(unidade)  %>" %>
        <div class="row">
          <div class="col-xs-12">
            <%= bs_label "##{unidade.id}", class: :primary %>
            <b><%= unidade.descricao %></b>
            <small class="stats-label text-muted" style="float: right; text-align: right">
              em <%= time_ago_in_words(unidade.created_at) %><br>
              <br>
              <%= unidade.created_at.strftime("%d/%m/%Y %H:%M") %>
            </small>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
