<div class="wrapper wrapper-content animated fadeInUp">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h5>Unidade  <%= "##{@unidade.id}" %> </h5>
    </div>
    <div class="ibox-content">
      <p>
        <strong>Descrição:</strong>
        <%= @unidade.descricao %>
      </p>

      <div class="hr-line-dashed"></div>
      <%= link_to 'Voltar', unidades_path, class: "btn btn-default pull-left" %>
      <div class="pull-right"> 
        <%= link_to 'Excluir', @unidade,  method: :delete, data: {confirm: "Você tem certeza?"}, class: "btn btn-danger" %>
        <%= link_to 'Editar', edit_unidade_path(@unidade), class: "btn btn-primary"%> 
      </div>
      <br>
      <br>
    </div>  
  </div>
</div>
