
<div class="wrapper wrapper-content animated fadeInUp">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h5>Formas de Pagamento <% if @formas_pagamentos.count == 0 %> <small>- nenhum registro encontrado</small><% end %></h5>
      <%= link_to 'Nova Forma de Pagamento', new_forma_pagamento_path, class: "btn-sm btn-primary pull-right" %>
    </div>
    <% @formas_pagamentos.each do |forma_pagamento| %>
      <div class="ibox-content" data-href="<%= forma_pagamento_path(forma_pagamento)  %>" %>
        <div class="row">
          <div class="col-xs-12">
            <%= bs_label "##{forma_pagamento.id}", class: :primary %>
            <b><%= forma_pagamento.descricao %></b>
            <small class="stats-label text-muted" style="float: right; text-align: right;">
              em <%= time_ago_in_words(forma_pagamento.created_at) %><br>
              <br>
              <%= forma_pagamento.created_at.strftime("%d/%m/%Y %H:%M") %>
            </small>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
