<div class="wrapper wrapper-content animated fadeInUp">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h5>Itens <% if @itens.count == 0 %> <small>- nenhum registro encontrado</small><% end %></h5>
      <%= link_to 'Novo item', new_item_path, class: "btn-sm btn-primary pull-right" %>
    </div>
    <% @itens.each do |item| %>
      <div class="ibox-content" data-href="<%= item_path(item)  %>" %>
        <div class="row">
          <div class="col-xs-12">
            <%= bs_label "##{item.id}", class: :primary %>
            <b><%= item.descricao %> 
            <small class="stats-label text-muted" style="float: right; text-align: right">
              em <%= time_ago_in_words(item.created_at) %><br>
              <br>
              <%= item.created_at.strftime("%d/%m/%Y %H:%M") %>
            </small>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
