<div class="wrapper wrapper-content animated fadeInUp">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h5>Novo Item </h5>
    </div>
	  <%= simple_form_for(@item) do |f| %>
	  	<div class="ibox-content">
        <div class="content">
        	<div class="row">
	  
		  			<div class="col-md-12">
				    	<%= f.input :descricao, label: 'Descrição' %>
				    </div>
						
						<div class="col-md-6">
				    	<%= f.input :preco, label: 'Preço' %>
						</div>

						<div class="col-md-6">
				    	<%= f.association :unidade, label: 'Unidade' %>
						</div>

						<div class="col-md-12">
				    	<%= f.association :categoria, label: 'Categoria' %>			 		
						</div>
						<div class="col-md-12">
				    	<div class="hr-line-dashed"></div>
				    </div>
				    <div class="col-md-6">
				    	<%= link_to 'Voltar', itens_path, class: "btn btn-default pull-left" %>
				    </div>
				    <div class="col-md-6">
				    	<%= f.button :submit, "Salvar", class: "btn btn-primary pull-right" %>
				    </div>
					</div>
	  		</div>
	  	</div>
		<% end %>
  </div>
</div>