<div class="wrapper wrapper-content animated fadeInUp">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h5>Pedido <%= "##{@pedido.id}" %></h5>
    </div>
    <%= simple_form_for(@pedido) do |f| %>
      <div class="ibox-content">
        <div class="content">
          <div class="row">
            
            <%= f.hidden_field  :concluido, value: true %>
            <div class="col-md-12">
              <%= f.input :forma_entrega, label: 'Forma de Entrega', collection: ["Retirar na Padaria", "Enviar para minha casa"] %>
            </div>

            <div class="col-md-12">
              <%= f.association :endereco, label: 'Endereço' %>
            </div>

            <div class="col-md-12">  
              <%= f.association :forma_pagamento, label: 'Forma Pagamento' %>
            </div>

            <div class="col-md-12">  
              <div class="hr-line-dashed"></div>
            </div>

            <div class="col-md-6">  
              <%= link_to 'Voltar', itens_path, class: "btn btn-default pull-left" %>
            </div>

            <div class="col-md-6">  
              <%= f.button :submit, "Concluir Pedido", class: "btn btn-primary pull-right" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
