<div class="wrapper wrapper-content animated fadeInUp">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h5>Pedido <%= "##{@pedido.id}" %></h5>
    </div>
    <%= simple_form_for(@pedido) do |f| %>
      <div class="ibox-content">
        <div class="content">
          

          <%= f.association :endereco, label: 'Endereço' %>

          <%= f.association :forma_pagamento, label: 'Forma Pagamento' %>
          
          <div class="hr-line-dashed"></div>
          <%= link_to 'Voltar', itens_path, class: "btn btn-default pull-left" %>
          <%= f.button :submit, "Salvar", class: "btn btn-primary pull-right" %>
          <br>
          <br>
        </div>
      </div>
    <% end %>
  </div>
</div>
