<div class="wrapper wrapper-content animated fadeInUp">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h5>Itens <% if @itens.count == 0 %> <small>- nenhum registro encontrado</small><% end %></h5>
    </div>
    <% @itens.each do |item| %>
      <div class="ibox-content" data-href="<%= adiciona_carrinho_home_index_path(item_id: item.id, categoria_id: item.categoria)  %>" %>
        <div class="row">
          <div class="col-xs-12" style="font-size: 15px;">

            <% pedido = Pedido.find_by(concluido: false, usuario_id: current_usuario.id) %>

            <% if ItemPedido.find_by(item_id: item.id, pedido: pedido) %>
              <%= bs_label "adicionado no carrinho", class: :primary %>
            <% else %>
              <%= bs_label "não está no carrinho", class: :warning %>
            <% end %>

            <b><%= item.descricao %> </b>

            <div class="stats-label text-muted" style="float: right; text-align: right;">
              <%= number_to_currency item.preco %> <%= item.unidade.descricao %><br> 
            </div>
            
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
