<div class="wrapper wrapper-content animated fadeInUp">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h5>Itens <% if @itens.count == 0 %> <small>- nenhum registro encontrado</small><% end %></h5>
      <%= link_to 'Avançar Pedido', info_pedido_home_index_path, class: "btn-sm btn-primary pull-right" %>
    </div>
    <% @itens.each do |item| %>
      <div class="ibox-content" data-href="<%= adiciona_carrinho_home_index_path(item_id: item.id, categoria_id: item.categoria)  %>" %>
        <div class="row">
          <div class="col-xs-12">
          <% if ItemPedido.where(item_id: item.id) %>
            <%= bs_label "adicionado ##{item.id}", class: :primary %>
          <% else %>
            <%= bs_label "##{item.id}", class: :warning %>
          <% end %>
            <b><%= item.descricao %> 
            <small class="stats-label text-muted" style="float: right; text-align: right">
              R$ <%= item.preco %> <%= item.unidade.descricao %><br> 
            </small>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
