<p id="notice"><%= notice %></p>

<p>
  <strong>Data entrega:</strong>
  <%= @pedido.data_entrega %>
</p>

<p>
  <strong>Hora entrega:</strong>
  <%= @pedido.hora_entrega %>
</p>

<p>
  <strong>Forma entrega:</strong>
  <%= @pedido.forma_entrega %>
</p>

<p>
  <strong>Forma pagamento:</strong>
  <%= @pedido.forma_pagamento_id %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @pedido.usuario_id %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @pedido.endereco_id %>
</p>

<%= link_to 'Edit', edit_pedido_path(@pedido) %> |
<%= link_to 'Back', pedidos_path %>
