<div class="wrapper wrapper-content animated fadeInUp">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h5>Editar Categoria <%= "##{@categoria.id}" %></h5>
    </div>
	  <%= simple_form_for(@categoria) do |f| %>
	  	<div class="ibox-content">
        <div class="content">
			    <%= f.input :descricao, label: 'Descrição' %>
			    <div class="hr-line-dashed"></div>
			    <%= link_to 'Voltar', categorias_path, class: "btn btn-default pull-left" %>
			    <%= f.button :submit, "Salvar", class: "btn btn-primary pull-right" %>
			    <br>
			    <br>
	  		</div>
	  	</div>
		<% end %>
  </div>
</div>
