<div class="wrapper wrapper-content animated fadeInUp">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h5>Endereços <% if @enderecos.count == 0 %> <small>- nenhum registro encontrado</small><% end %></h5>
      <%= link_to 'Novo Endereço', new_endereco_path, class: "btn-md btn-primary pull-right" %>
    </div>
    <% @enderecos.each do |endereco| %>
      <div class="ibox-content" data-href="<%= endereco_path(endereco)  %>" %>
        <div class="row">
          <div class="col-xs-12">
            <div class="pull-right" style="margin-top: 7px;">
              <%= link_to 'Excluir', endereco,  method: :delete, data: {confirm: "Você tem certeza?"}, class: "btn btn-sm btn-danger" %>
              <%= link_to 'Editar', edit_endereco_path(endereco), class: "btn btn-sm btn-info " %>
            </div>
            <div style="margin-top: 7px;">
              <b><%= endereco.endereco %> - <%= endereco.numero %></b>
              <small class="stats-label text-muted" style="margin-left: 5px;" >
                <%= endereco.cidade.nome %>
              </small>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>